.App {
  text-align: center;
}

body {
  background: white;
  margin: 0;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
}

.imageContainer {
  display: flex;
  padding-top: 10em;
  padding-bottom: 8em;
}

.emoji {
  transform: scale(-1, 1) rotate(-90deg);
  margin: 0 auto;
  font-size: 10em;
  cursor: pointer;
}

.victory,
.defeat {
  font-size: 6rem;
  margin-top: 0.8em;
}

form {
  margin: 2rem auto;
  width: 54%;
  min-width: 16rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formSection {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

label {
  display: inline;
}

textarea {
  vertical-align: top;
  height: 5rem;
}

input,
textarea {
  width: 50%;
  box-sizing: border-box;
  border: 1px solid rgb(201, 200, 200);
  min-height: 2rem;
  font-size: 1.2rem;
  display: block;
  margin: 0 auto;
  padding: 0.5em;
}

button {
  font: inherit;
  color: inherit;
  border: solid 1px transparent;
  border-radius: 5px;
  padding: 0.8rem 2rem;
  color: #ffffff;
  background-color: rgb(80, 80, 80);
  display: block;
  margin: 0 auto;
  margin-top: 0.5em;
}

.errorMessage {
  color: red;
}

.roomlist {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
}

.gameroom {
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 1em;
}

a,
a:visited {
  color: rgb(80, 80, 80);
  text-decoration: none;
}

.afterChoice {
  opacity: 0.3;
  pointer-events: none;
}

.chosen {
  opacity: 1;
}

.userScore {
  margin: 1.6em;
}

.scoreEmojiOne {
  margin: 0 auto;
  font-size: 10em;
  transform: scale(-1, 1) rotate(-90deg);
}

.scoreEmojiTwo {
  margin: 0 auto;
  font-size: 10em;
  transform: rotate(-90deg);
}
.scoreDivs {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.roundScore {
  font-size: 3em;
  margin-top: 0.8em;
}
.nameScore {
  margin-top: 0.2em;
  font-size: 5em;
}

.scoreBar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 0.7em;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: rgb(165, 164, 164);
  color: white;
}
.score,
.round,
.room {
  font-size: 2em;
}
.gamePageContainer {
  /* margin-top: 2em; */
}
