.App {
  text-align: center;
}

.imageContainer {
  display: flex;
}

.emoji {
  transform: rotate(-90deg);
  margin: 0 auto;
  font-size: 100px;
  cursor: pointer;
}

.victory {
  font-size: 6rem;
}

.scorebar {
  display: flex;
}
